html{
    height: 100%;
}

/********************************************
 *                                          *
 *                   BODY                   *
 *                                          *
 ********************************************/ 

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    bottom: 0;
}

main{
    overflow-y: scroll;
}

/********************************************
 *                                          *
 *                  FORM                    *
 *                                          *
 ********************************************/ 
form#form_prenotazione{
    width: fit-content;
    height: fit-content;
    margin: 2.5% 0% 0% 2.5%;
    overflow-y: scroll;
}

/* Tutti le legend dei fieldset*/
fieldset.fs_prenota>legend{
    color: white;
}

/***********       ALLERGENI        ************/

button#bt_invia_allergeni{
    display: block;
    margin-left: auto;
    margin-right: 1%;
    width: fit-content;
}

fieldset#fs_prenota_allergeni>div#fs_prenota_allergeni_div{
    max-height: 10em;
    width: 100%;
    color: white;
    overflow-y: scroll;
}

/***********       BASE PIZZA        ************/

/* Tutto il fieldset */
fieldset#fs_prenota_base_pizza{
    height: 10em;
}

/* DIV che mostra le aggiunte incluse nella base pizza */
div#show_aggiunte_pizza_selected{                       
    margin-left: 30%;                                   
    margin-right: auto;   
    color: white;     
    height: 100%;    /*Prendo il 100% del block padre, tanto c'è l'overflow-y a gestire lo scroll*/                      
}                                                       

fieldset>select#select_base_pizza{
    width: 30%;
}

/*Estende inline-block a tutti gli elementi del fieldset con id fs_prenota_base_pizza, che sarebbe quello dove si sceglie la base della pizza*/
fieldset#fs_prenota_base_pizza > *{
    display: inline-block;
    overflow-y: scroll;
    vertical-align: middle;
}

/*Tutti i fieldset circa i Tipo Aggiunta generati automaticamente dopo la relativa getAll() */
fieldset#fs_prenota_tipo_aggiunta > *{
    color: white;
    width: auto;
    height: fit-content;
}




/********************************************
 *                                          *
 *                  HEADER                  *
 *                                          *
 ********************************************/

fieldset#fs_prenota_allergeni>label{
    color: white;
}

header>nav#header_nav{
    background-color: #888888;
    /*La seguente proprietà, insieme a flex-grow e text-align presenti nel successivo decl, 
        rendono le ancore distanziate al fine di prendere l'intero nav bar centralizzando il testo*/
    display: flex;
    height: auto;
}

nav#header_nav>a{
    color: white;
    background-color: #555555;
    text-decoration-line: none; /*  Rimuove il sottolineato che sta di default */
    font-size: large;       
    text-align: center;     /*Leggere il commento in header>nav#header_nav*/
    flex-grow: 1;           /*Leggere il commento in header>nav#header_nav*/
    margin: 1% 0.5% 1% 0.5%;
    border: 0.1em solid black;
}


/********************************************
 *                                          *
 *                  FOOTER                  *
 *                                          *
 ********************************************/
footer{
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
}

footer>img#footer_arrow{
    bottom: 0;
    left: 0;
    margin-left: 0px;
    margin-bottom: 0px;
}

footer>div#footer_info{
    width: 100%;
    background-color: #555555;
    border-top-left-radius: 0%; /*Lo lascio a 0 per renderlo unico col pulsante*/
    border-top-right-radius: 100%;
    height: 10%;
    bottom: 0;
    display: none;
}