html{
    /*Prende tutto lo schermo come altezza disponibile*/
    height: 100%;
}

/********************************************
 *                                          *
 *                   BODY                   *
 *                                          *
 ********************************************/ 

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow-y: hidden;
}

main{
    width: 99%; /*Ho sottratto 0.5% margin left e 0.5% margin right*/
    max-height: 90%;
    margin: 0.5% 0.5% 0% 0.5%;
}

/********************************************
 *                                          *
 *                  FORM                    *
 *                                          *
 ********************************************/ 

legend.lg_fs_prenota{
    width: fit-content !important;
}

div#bottoni_form_div{
    width: 100%;
    /*height: auto;*/   /*Poiché questo div contiene solo floating children, la sua altezza sarà sempre 0*/
}

/*Bottoni modifica*/
input.modifica_bottoni{
    display: block;
    float: right;
    width: fit-content;
    margin-top: 0.5%;
    visibility: hidden;
    margin-right: 0.1%;
}
input#salva_button{
    float: left;
    margin-top: 0.5%;
    margin-left: 0.1%;
    visibility: visible;
}

form#form_prenotazione{
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Tutti le legend dei fieldset*/
fieldset.fs_prenota>legend{
    color: white;
}

/***********       ALLERGENI        ************/

button#bt_invia_allergeni{
    display: block;
    margin-left: auto;
    margin-right: 2%;
    width: fit-content;
}

fieldset#fs_prenota_allergeni{
    height: 20vh;
    max-height: 20vh;
}

fieldset#fs_prenota_allergeni>div#fs_prenota_allergeni_div{
    width: 100%;
    max-height: 85%;
    color: white;
    overflow-y: auto;
}

/***********       BASE PIZZA        ************/

/* Tutto il fieldset */
fieldset#fs_prenota_base_pizza{
    height: 20vh;
}

/* DIV che mostra le aggiunte incluse nella base pizza */
div#show_aggiunte_pizza_selected{                       
    margin-left: 30%;                                   
    margin-right: auto;   
    color: white;
    height: 100%;    /*Prendo il 100% del block padre, tanto c'è l'overflow-y a gestire lo scroll*/                    
}                                                       

fieldset>select#select_base_pizza{
    width: 30%;
}

/*Estende inline-block a tutti gli elementi del fieldset con id fs_prenota_base_pizza, che sarebbe quello dove si sceglie la base della pizza*/
fieldset#fs_prenota_base_pizza > *{
    display: inline-block;
    overflow-y: auto;
    vertical-align: middle;
}



/****************           TIPO_AGGIUNTA            ********************/

/*Il fieldset generale delle aggiunte*/
fieldset#fs_prenota_tipo_aggiunta{
    height: 35vh;
    overflow: hidden;
    color: white;
    min-width: 0;   /*Senza questa prop, il fieldlist tenderà in overfitting width*/
}
/*div slide wrap del fieldset generale delle aggiunte*/
div#fsprenota_tipoaggiunta_slidex_wrap_div{
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
div#fsprenota_tipoaggiunta_slidex_wrap_div_inner{
    height: 100%;
}
/*Ogni sub-div del div interno al fieldset generale*/
div.fs_tipoaggiunta_div_outer{
    display: inline-block;
    height: 100%;
    width: fit-content;
    overflow: hidden;
}
/*Il fieldset di ogni sub-div*/
div.fs_tipoaggiunta_div_outer>fieldset{
    height: 90%;
    overflow: hidden;
    width: fit-content;
}
div.fs_tipoaggiunta_div_inner{
    height: 100%;
    overflow-y: auto;
}


/********************************************
 *                                          *
 *                  HEADER                  *
 *                                          *
 ********************************************/

header{
    height: 5%;
}

fieldset#fs_prenota_allergeni>label{
    color: white;
}

header>nav#header_nav{
    background-color: #888888;
    /*La seguente proprietà, insieme a flex-grow e text-align presenti nel successivo decl, 
        rendono le ancore distanziate al fine di prendere l'intero nav bar centralizzando il testo*/
    display: flex;
    height: 100%;
}

nav#header_nav>a{
    color: white;
    background-color: #555555;
    text-decoration-line: none; /*  Rimuove il sottolineato che sta di default */
    font-size: 2vh;       
    text-align: center;     /*Leggere il commento in header>nav#header_nav*/
    flex-grow: 1;           /*Leggere il commento in header>nav#header_nav*/
    margin: auto 0.25% auto 0.25%;
    border: 0.1em solid black;
}


/********************************************
 *                                          *
 *                  FOOTER                  *
 *                                          *
 ********************************************/
footer{
    background-color: #555555;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}
footer>div.info{
    color: white;
    display: inline-block;
    flex-grow: 1;
    font-size: medium;
    text-align: center;
}