/*      Questo vuole essere il css che descrive solo l'aside della prenotazione corrente      */

article{
    border: 1px solid white;
    width: 55%;
    margin: 1% 0.5% 0.5% 2%;
    display: inline-block;
}

article>div#introduzione_article{
    background-color: #111111BB;
    color: white;
    height: fit-content;
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid white;
}