/*      Questo vuole essere il css che descrive solo l'aside della prenotazione corrente      */

article{
    background-color: #111111BB;
    border: 1px solid white;
    width: 55%;
    margin: 1% 0.5% 0.5% 2%;
    display: flex;
    flex-direction: column;
}

article>div#introduzione_article{
    color: white;
    height: fit-content;
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid white;
}

div#info_ordine_outer_nome_bottone_div{
    border: none;
}

div.info_ordine_div{
    display: inline-block;
    color: white;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border: 1px solid white;
}

div#info_ordine{
    margin: 0.5% 0.5% 0.5% 0.5%;
    border: 1px solid white;
}

input.cb_info_ordine_tipo{
    display: inline-block;
}

div.ordine_telefono_data{
    display: inline-block;
}

div#info_ordine_nome_bottone{
    border: none;
}

div#info_ordine_bottone_div{
    width: 100%;
}

div#div_prenotazione{
    max-height: 100%;
}

table#tabella_prenotazione{
    visibility: hidden;
    display: block;
    border: 4px solid white;
    margin: 1%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: auto;
    width: fit-content;
    align-self: center;
    max-width: 98%; /*100% - 2% per i margini left e right*/
}

thead, tbody{
    display: block;
    width: fit-content;
}

tr#table_row_header_prenotazione{
    white-space: nowrap;
}

th.th_prenotazione{
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    white-space: nowrap;
    display: inline-block;
    min-width: fit-content;
    padding: 0;
}



tbody{
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1%;
    max-height: 95%;
    width: fit-content;
}

tr.tr_prenotazione{
    white-space: nowrap;
    width: fit-content;
}


td.td_prenotazione{
    color: white;
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    padding: 0;
}
ul.ul_prenotazione{
    list-style-position: inside;
    width: fit-content;
}
li.li_prenotazione{
    width: fit-content;
}

input.azione_prenotazione_button{
    display: block;
    margin: 0.25em 0.5em 0.25em 0.5em;
    width: 80%;
}