html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    background-image: url("../../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    overflow: hidden;
}


fieldset#fieldset_tipoaggiunte{
    flex-grow: 0.3;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
}
fieldset#fieldset_aggiunte{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

form#aggiungi_tipoaggiunta_form{
    margin: 0 auto;
}

div#div_aggiungi_tipoaggiunta{
    overflow: auto;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

/*Div dello storico delle etichette*/
div#storico_etichette_div{
    margin: 0.5em 0 0.5em 0;
    border: 2px solid white;
    height: 100%;
    overflow: auto;
}

div.div_etichetta{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.tipoaggiunta_bt_div{
    margin: 2px 0 2px auto;
}


div#nuova_aggiunta_div{
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
div#nuova_aggiunta_div>*{
    height: fit-content;
    display: inline;
}

/*Tabella delle aggiunte*/

table#table_aggiunte{
    background-color: #33333399;
    align-self: center;
    display: block;
    overflow: auto hidden;
    margin-top: 0.5em;
    width: fit-content;
    max-width: 100%;
    border: 4px solid white;
    white-space: nowrap;
}

tbody{
    overflow-x: hidden;
    display: block;
    overflow-y: auto;
}

td.td_body{
    border-bottom: 1px solid white;
}

th.th_aggiunta{
    border: 2px solid white;
}

button#annulla_modifica_aggiunta{
    visibility: hidden;
}