html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    background-image: url("../../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main{
    display: flex;
    flex-direction: row;
    color: white;
    max-height: 100%;
    flex: 1;
    overflow: hidden;
}

/*Fieldset parent del form per la gestione dei tipo aggiunta*/
fieldset#fieldset_tipoaggiunte{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    width: 30%;
}
/*Form per la post/edit di un tipo aggiunta (il form sopra il div dello storico dei tipo aggiunta)*/
form#aggiungi_tipoaggiunta_form{
    margin: 0 auto;
}
/* Div interno al form sopra descritto */
div#div_aggiungi_tipoaggiunta{
    overflow: auto;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

fieldset#fieldset_aggiunte{
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    max-height: 100%;
    width: 70%;
    max-width: 70%;
}

/*Div dello storico delle etichette*/
div#storico_etichette_div{
    margin: 0.5em 0 0.5em 0;
    border: 2px solid white;
    height: 100%;
    overflow: auto;
}

div.div_etichetta{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.tipoaggiunta_bt_div{
    margin: 2px 0 2px auto;
}

/*Bottone per l'annulla modifica di tipo aggiunta*/
button#annulla_modifica_tipoaggiunta_bt{
    visibility: hidden;
}


/*Questa è la parte inerente le aggiunte*/


div#nuova_aggiunta_div{
    border: 1px solid white;
    margin: 0.5em auto;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
div#nuova_aggiunta_div>*{
    height: fit-content;
    display: inline;
}

/*Tabella delle aggiunte*/

table#table_aggiunte{
    background-color: #33333399;
    align-self: center;
    display: block;
    overflow: auto hidden;
    margin-top: 0.5em;
    width: fit-content;
    max-width: 100%;
    border: 4px solid white;
    white-space: nowrap;
    height: 100%;
    max-height: 100%;
}

thead{
    display: block;
    width: fit-content;
}

tr#table_row_header_aggiunta{
    white-space: nowrap;
}

tbody{
    overflow-x: hidden;
    display: inline-block;
    overflow-y: auto;
    max-height: 100%;
}

td.td_body{
    border: 1px solid white;
    display: inline-block;
}

th.th_aggiunta{
    border: 2px solid white;
    display: inline-block;
}

button#annulla_modifica_aggiunta{
    visibility: hidden;
}