html{
    height: 100%;
}

/********************************************
 *                                          *
 *                   BODY                   *
 *                                          *
 ********************************************/ 

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    bottom: 0;
}


/********************************************
 *                                          *
 *                  HEADER                  *
 *                                          *
 ********************************************/

 header{
    height: 5%;
}

fieldset#fs_prenota_allergeni>label{
    color: white;
}

header>nav#header_nav{
    background-color: #888888;
    /*La seguente proprietà, insieme a flex-grow e text-align presenti nel successivo decl, 
        rendono le ancore distanziate al fine di prendere l'intero nav bar centralizzando il testo*/
    display: flex;
    height: 100%;
}

nav#header_nav>a{
    color: white;
    background-color: #555555;
    text-decoration-line: none; /*  Rimuove il sottolineato che sta di default */
    font-size: large;       
    text-align: center;     /*Leggere il commento in header>nav#header_nav*/
    flex-grow: 1;           /*Leggere il commento in header>nav#header_nav*/
    margin: auto 0.25% auto 0.25%;
    border: 0.1em solid black;
}


/********************************************
 *                                          *
 *                  ASIDE                   *
 *                                          *
 ********************************************/
aside#aside_frasi{
    color: white;
    width: fit-content;
    width: 40%; /*Sfrutto questa proprietà nel main.js (1) */
}
aside>ul#ul_aside_frasi{
    list-style-type: none;  /*Rimuove qualsiasi decorazione dei li*/
}
ul>li.li_aside_frasi{
    margin-top: 10%;
    font-size: xx-large;
    font-style: italic;
    font-family: Geneva, Verdana, sans-serif;
}


/********************************************
 *                                          *
 *                  FOOTER                  *
 *                                          *
 ********************************************/
 footer{
    background-color: #555555;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}
footer>div.info{
    display: inline-block;
    flex-grow: 1;
    font-size: medium;
    text-align: center;
    color: white;
}