html{
    /*Prende tutto lo schermo come altezza disponibile*/
    height: 100%;
}

/********************************************
 *                                          *
 *                   BODY                   *
 *                                          *
 ********************************************/ 

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    bottom: 0;
}

main>div#storico_benvenuto_div{
    width: 100%;
    font-size: 2vh;
    text-align: center;
    color: white;
    background-color: #55555555;
    border: 1px  solid white;
}

main{
    width: 99%; /*Ho sottratto 0.5% margin left e 0.5% margin right*/
    max-height: 90%;
    display: flex;
    flex-direction: row;
    margin: 0.5% 0.5% 0% 0.5%;
}



/********************************************
 *                                          *
 *                  HEADER                  *
 *                                          *
 ********************************************/

header{
    height: 5%;
}

fieldset#fs_prenota_allergeni>label{
    color: white;
}

header>nav#header_nav{
    background-color: #888888;
    /*La seguente proprietà, insieme a flex-grow e text-align presenti nel successivo decl, 
        rendono le ancore distanziate al fine di prendere l'intero nav bar centralizzando il testo*/
    display: flex;
    height: 100%;
}

nav#header_nav>a{
    color: white;
    background-color: #555555;
    text-decoration-line: none; /*  Rimuove il sottolineato che sta di default */
    font-size: 2vh;       
    text-align: center;     /*Leggere il commento in header>nav#header_nav*/
    flex-grow: 1;           /*Leggere il commento in header>nav#header_nav*/
    margin: auto 0.25% auto 0.25%;
    border: 0.1em solid black;
}


/********************************************
 *                                          *
 *                  FOOTER                  *
 *                                          *
 ********************************************/
footer{
    background-color: #555555;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}
footer>div.info{
    color: white;
    display: inline-block;
    flex-grow: 1;
    font-size: medium;
    text-align: center;
}

table#tabella_storico{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
    border: 0.1% solid white;
}