html{
    /*Prende tutto lo schermo come altezza disponibile*/
    height: 100%;
}

/********************************************
 *                                          *
 *                   BODY                   *
 *                                          *
 ********************************************/ 

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    bottom: 0;
}



main{
    width: 99%; /*Ho sottratto 0.5% margin left e 0.5% margin right*/
    max-height: 89%;
    height: 89%;    /*Header e footer hanno 5% height. Poi ho sottratto i margini*/
    margin: 0.5% 0.5% 0% 0.5%;
    display: flex;
    flex-direction: column;
}

main>div#storico_benvenuto_div{
    width: 100%;
    font-size: 2vh;
    text-align: center;
    color: white;
    background-color: #55555555;
    flex: 0.01 0 auto;
}


table#tabella_storico{
    width: fit-content;
    max-width: 100%;
    flex: 0.95 0 auto;
    border: 4px solid white;
    display: block;
    color: white;
    overflow-y: hidden;
    overflow-x: auto;
    align-self: center;
}

thead{
    width: fit-content;
    height: fit-content;
    display: block;
    max-width: 100%;
    max-height: 10%;
    overflow: hidden;
}
th.th_storico{
    font-size: 2vh;
    border: 2px solid white;
}

tbody{
    width: fit-content;
    height: 90%;
    display: block;
    max-width: 100%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;

}

td.td_storico{
    border: 1px solid white;
    text-align: center;
}





/********************************************
 *                                          *
 *                  HEADER                  *
 *                                          *
 ********************************************/

header{
    height: 5%;
    max-height: 5%;
}

header>nav#header_nav{
    background-color: #888888;
    /*La seguente proprietà, insieme a flex-grow e text-align presenti nel successivo decl, 
        rendono le ancore distanziate al fine di prendere l'intero nav bar centralizzando il testo*/
    display: flex;
    height: 100%;
}

nav#header_nav>a{
    color: white;
    background-color: #555555;
    text-decoration-line: none; /*  Rimuove il sottolineato che sta di default */
    font-size: 2vh;       
    text-align: center;     /*Leggere il commento in header>nav#header_nav*/
    flex-grow: 1;           /*Leggere il commento in header>nav#header_nav*/
    margin: auto 0.25% auto 0.25%;
    border: 0.1em solid black;
}


/********************************************
 *                                          *
 *                  FOOTER                  *
 *                                          *
 ********************************************/
footer{
    background-color: #555555;
    width: 100%;
    height: fit-content;
    max-height: 5%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}
footer>div.info{
    color: white;
    display: inline-block;
    flex-grow: 1;
    font-size: medium;
    text-align: center;
}