html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-color: #999999;
    margin: 0;
    background-image: url("../../../resources/body/pizza_bkg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

aside{
    width: fit-content;
}

main{
    display: inline-block;
    max-width: 100%;
    width: 100%;
    color: white;
    flex-grow: 1;
    height: 100%;
    max-height: 100%;
}

div.div_fieldset{
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    float: left;
}

fieldset{
    /*
        Circa il min-width, tutti i browser hanno la proprietà interna per la gestione
        Si forza dunque il min-width a 0 indipendentemente dal browser
        https://stackoverflow.com/questions/27660423/fieldset-width-100-of-parent
    */
    min-width: 0;

}

/*gestione allergeni*/

fieldset#fieldset_allergeni{
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

button#annulla_modifica_allergene_bt{
    visibility: hidden;
}

div#storico_etichette_div{
    margin-top: 0.25em;
    overflow: auto;
    max-height: 99%;
    border: 2px solid white;
    max-width: 100%;
}

form#aggiungi_allergeni_form{
    width: fit-content;
    margin: 0 auto; /*Centrato*/
}

div.div_etichetta_bt{
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    max-width: 100%;
}

div.div_etichetta{
    overflow-x: auto;
    max-width: 80%;
}

div.allergene_bt_div{
    margin: 0.25em 0 0.25em auto
}

/* Gestione N-N aggiunta-allergeni */

fieldset#fieldset_aggiunteallergeni{
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

table{
    background-color: #55555599;    /*Dono un grigio opacizzato al fine di dare risalto al testo (La copertina di bkg tende a non far vedere dei tratti di testo bianco)*/
    max-width: 100%;
    border: 4px solid white;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 100%;
    width: fit-content;
    margin: 0 auto;
    height: 100%;
    white-space: nowrap;
}

thead>tr{
    display: inline-block;
    overflow: hidden;
}

th.th_aggiunta{
    border: 2px solid white;
    display: inline-block;
}

tbody{
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

tbody>tr{
    display: block;
}

td.td_body{
    display: inline-block;
    border: 1px solid white;
    margin: 1px;
    text-align: center;
}

/* Div popup delle relazioni tra aggiunta e allergene. Mostrato cliccando su visualizza */

div#div_popup_aggiuntaallergeni{
    background-color: #66666699;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    width: fit-content;
    max-height: 25%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

/* Div contenente le checkbox*/
div#div_allergeni_popup{
    overflow-y: auto;
}

/*Bottone per salvare gli allergeni di un'aggiunta*/
button#save_aggiunta_allergeni_bt{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}