div#pannello_utente{
    color: white;
    height: calc(100% - 4px);
    white-space: nowrap;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

div#icona_div_pannello_utente{
    width: 100%;
    height: fit-content;
    margin-top: 1em;
    /*La prop seguente serve a centrare l'icona, insieme ai margin auto di img*/
    display: flex;  
}
div#icona_div_pannello_utente>img{
    margin-left: auto;
    margin-right: auto;
}

div.info_pannello_utente{
    width: 100%;
    margin-top: 0.5em;
    text-align: center;
}


/*DA QUI INIZIA LA PARTE INERENTE AI CAMPI/PULSANTI PER IL RESET DELLA PSW*/

div#cambio_psw_pannello_utente_div{
    margin-bottom: 2em;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

button#show_psw_reset_fields_bt{
    margin-left: auto;
    margin-right: auto;
}



/*Div dei campi per il reset della psw*/
div#div_campi_psw_reset{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

div#div_campi_psw_reset>input{
    width: 50%;
    margin: 1em auto 0 auto;
}

div#div_psw_reset_bt{
    margin: 1em auto 1em auto;
}

button#show_psw_reset_fields_bt_pannello_utente{
    margin: auto;
}